.content-Card{
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: space-between;
}

.Card{
  justify-self: center;
  width: 90%;
  margin: 5px;
  &__header{
     display: grid;
     background-color: $color-segundario;
     color: $color-claro;
     grid-template-areas: 
     "icon title"
     "icon address";
     grid-template-columns: 20% 80%;
     &-icon{
       grid-area: icon;
       width: 100%;
       height: 100%;
     }
     &-title{
       grid-area: title;
       align-self: center;
       justify-self: center;
     }
     &-address{
       grid-area: address;
       align-self: center;
       justify-self: center;
     }
  }
  &__Map{
    & > div:first-child{
      position: relative !important;
      height: 10rem !important;
      width: 100% !important;
    }
  }
}