#app{
  min-height: 100vh;
  max-height: 100vh;
  display: grid;
  grid-template-rows: 8% 84% 8%;
  grid-template-columns: 100%;
  grid-template-areas:
    "header"
    "content"
    "footer";
}
main {
  grid-area: content;
  justify-self: center;
  @include styleScroll;
}
